.slidebox {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}
.slidebox, .slidebox .slideboxSlide {
	width: 830px;
	height: 200px;
	margin: 0 auto;
}
.slidebox ul {
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
}
.slidebox ul li {
	float: left;
}
.slideboxContainer {
	position: relative;
	padding: 10px;
}
.slideboxContainer .slideboxThumbs {
	position: relative;
	top: 30px;
	text-align: center;
}
.slideboxContainer .slideboxThumbs .slideboxThumb {
	display: inline-block;
	margin: 0 3px;
	background: #666;
	min-width: 25px;
	min-height: 25px;
	text-decoration: none;
	font-size: 12px;
	color: #fff;
}
.slideboxContainer #slidebox_1+.slideboxThumbs {
	position: relative;
	margin-top: 0px;
}
.slideboxContainer #slidebox_1+.slideboxThumbs .slideboxThumb {
	background: url(../img/nav-icon1.png);
}
.slideboxContainer #slidebox_1+.slideboxThumbs .slideboxThumb:hover, .slideboxContainer #slidebox_1+.slideboxThumbs .selectedSlideboxThumb {
	background: url(../img/nav-icon2.png);
}
.slideboxContainer #slidebox_1+.slideboxThumbs .slideboxThumb:active {
	background: #eee;
}