@charset "UTF-8";
/* CSS Document */
@font-face {
 font-family: "Century Gothic";
 src: url(../fonts/gothic.eot); /* IE */
 src: local("Century Gothic"), url(../fonts/gothic.ttf) format("truetype");/* resto de navegadores */
}
body{
	margin:0;
	padding:0;
	background:#EFEFEF;
}
img{
	border:none;
}
#header{
	position:relative;
	width:100%;
	height:300px;
	background:url(../img/header-bg.png);
}
#content{
	position:relative;
	width:100%;
	height:auto;
}
#footer{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #fff;
	text-align: center;
	position: static;
	bottom: 0;
	width: 100%;
	height: 55px;
	padding: 15px 0 0 0;
	background: url(../img/footer-bg.png);
}
.box{
	width: 1200px;
	height: 20px;
	margin:0 auto;
	display:table;
}
#logo{
	position: relative;
	bottom: 0;
	width: 210px;
	height: 60px;
	background: url(../img/logo.png);
	margin:10px 10px 0 0;
	float:left;
}
#main-menu{
	width:760px;
	position: relative;
	float:left;
	margin:40px 0 0 0;
}
#main-menu ul{
	list-style:none;
	margin:0;
	padding:0;
}
#main-menu ul li a{
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	float: left;
	display: block;
	width: 150px;
	height: 24px;
	cursor: pointer;
	background: url(../img/btns1.png) no-repeat;
	padding:6px 0 0 0;
	margin:0 1px 0 0;
}
#main-menu ul li a:hover{
	color: #21570C;
	background: url(../img/btns2.png) no-repeat;
}
#catalogo-btn img{
	margin:0 0 5px 0;
}
#catalogo-btn{
	width:210px;
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #fff;
	text-align: center;
	text-decoration: none;
	float: left;
	display: block;
	margin:15px 0 0 10px;
}
#banner{
	position: relative;
	bottom: 0;
	width: 850px;
	height: 280px;
	margin:90px auto 0 auto;
	background: url(../img/banner-bg.png) no-repeat;
	z-index:9999;
}
#left-box{
	position:absolute;
	left:0;
	bottom:0;
	width: 92px;
	height: 221px;
	background: url(../img/arbol-left.jpg) no-repeat;
}
#right-box{
	position:absolute;
	right:0;
	bottom:0;
	width:92px;
	height:221px;
	background: url(../img/arbol-right.jpg) no-repeat;
}
#middle-box{
	position: relative;
	margin: 0 auto;
	padding: 60px 0 0 0;
	width: 1050px;
	height: 10px;
	display: block;
}
#submenu {
	width:240px;
	border-right:1px solid #FFF;
	padding:20px 0;
	float:left;
}
#submenu ul{
	list-style:none;
	margin:0;
	padding:0;
}
#submenu ul li a{
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #222;
	text-align: left;
	text-decoration: none;
	display: block;
	width: 210px;
	height: 23px;
	cursor: pointer;
	background: url(../img/submenu-btns1.png) no-repeat;
	padding:7px 0 0 30px;
	margin:0 0 2px 0;
}
#submenu ul li a:hover{
	color: #FFF;
	background: url(../img/submenu-btns2.png) no-repeat;
}
#text-content{
	position: relative;
	padding: 0 10px 10px 20px;
	width: 570px;
	height: 220px;
	display: block;
	float:left;
	overflow:auto;
}
#consultas{
	position: relative;
	text-align:right;
	margin: 0 0 0 10px;
	padding: 0;
	width: 185px;
	height: 230px;
	/*background: #567;*/
	display: block;
	float:left;
}
#text{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #222;
	text-align: left;
	width: 290px;
	height: auto;
	display: table;
	float:right;
}
h1{
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #85B200;
	display: block;
	font-weight: lighter;
	margin: 0;
	padding: 0;
}
h2{
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #85B200;
	display: block;
	font-weight: lighter;
	margin: 0;
	padding: 0;
}
h3{
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #85B200;
	display: block;
	font-weight: lighter;
	margin: 0;
	padding: 0;
}
h4{
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #85B200;
	display: block;
	font-weight: lighter;
	margin: 0;
	padding: 0;
}
.text-field{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	border:none;
	width:140px;
	height:20px;
	margin: 5px 0;
	padding: 2px 5px;
	background: url(../img/text-field-bg.png) no-repeat;
}
.enviar-btn{
	text-indent:-9999px;
	border:none;
	width:90px;
	height:24px;
	margin: 5px 0;
	cursor:pointer;
	display:inline;
	background: url(../img/enviar-btn.png) no-repeat;
}
#social-box{
	height:32px;
	margin: 5px 0 0 0;
}